<!DOCTYPE html>
<html lang="zh_CN" contentType="application/x-www-form-urlencoded;charset=UTF-8">
<head>
    <meta charset="UTF-8">
    <title>登陆界面</title>
</head>
<body>
<form method="post" action="/login">
    <p>姓名：<label>
        <input type="text" name="name" size="10">
    </label></p>
    <p>密码：<label>
        <input type="password" name="password" size="10">
    </label></p>
    <p><input type="submit" value="确定">
        <input type="reset" value="取消"></p>
</form>
<a href="register.html">前往注册界面</a>

</body>

</html>