<!DOCTYPE html>
<html lang="zh_CN" contentType="application/x-www-form-urlencoded;charset=UTF-8">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="/login" method="post">
    昵称：<label for="name"></label><input type="text" id="name" name="name"/>
    密码：<label for="password"></label><input type="text" id="password" name="password"/>
    金额：<label for="balance"></label><input type="text" id="balance" name="balance"/>
    <input type="submit" value="提交"/>
</form>

</body>
</html>