<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ouyangnengda.spikesystem.dao.UserDAO">
    <select id="selectUserById" parameterType="int" resultType="User" >
        select id,name from user where id = #{id};
    </select>

    <select id="findUser" resultType="User">
        select id, name, password, salt, balance from user where name=#{name};
    </select>

    <insert id="insertUser" parameterType="User">
        insert into user(name, password, salt, balance) VALUES (#{name}, #{password}, #{salt}, #{balance});
    </insert>
</mapper>